{% extends "base.html" %}
{% load static %}

{% block page_title%}My Favourites{% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "my_blog/bootstrap.min.css" %}"/>
  <link rel="stylesheet" href="{% static "my_blog/index.css" %}" />
{% endblock %}


{% block content %}
    <section>
        <ul class="posts">
        {% for post in posts %}
            {% include "my_blog/includes/post.html" with post=post %}
        {% endfor %}
        </ul>
    </section>
{% endblock%}