{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block page_title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static "app.css" %}">
  {% block css_files %}{% endblock %}
</head>
<body>
  <header id="header">
    {% comment %} <h1><a href="">Text Realm</a></h1> {% endcomment %}
    <nav class="links">
      <ul>
        <li><a href="{% url "main-page" %}">Home</a></li>
        <li><a href="#">Favourites</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">References</a></li>
      </ul>
    </nav>
  </header>
  {% block content %}
  {% endblock %}
</body>
</html>